# Ignore user data
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore videos
*.avi
*.MP4

# Ignore photos and graphics
*.svg
*.jpg
*.png
*.PNG

# Ignore data
*.csv
*.Rda
*.xlsx
*.txt

# Ignore Adobe Premiere stuff
*.prfpset
*.prproj

# Ignore .DS_Store
*.DS_Store



